.portfolio{
    margin-top:131px;
}

.portfolio img{
    margin-left: 534px;
    padding-bottom: -9px;
    margin-bottom: -4px;  
}
.portfolio h2{
    margin: 49px;
    text-align: center;
    margin-left: 40px;
}
.portfolio p{
    width:300px;
  text-align: center;
  margin-left: 516px;
}
.portfolio img:hover{
   transform:scale(1.3)
}
.portfolio h2:hover{
    color:red;
    font-size:30px;
}

